@charset "utf-8";

@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MICEGothic Bold';
  font-size: 13px;
}

body{
  background-color: #fff;
}
#wrap{}
#header{
  width: 100%;
  height: 150px;
  background-color: #313238;
  position: fixed;
  top: 0;
}
#footer{
  width: 100%;
  height: 150px;
  background-color: #313238;
  position: fixed;
  bottom: 0;
}
#register{
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.container{}
.row{}
.register{
  height: calc(100vh - 320px);
  width: 500px;
  max-width: 90%;
  padding: 20px;
  background: url(../images/login_bg.jpg) #fff;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5%;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.logo{
  margin: 20px auto;
  width: 50%;
}
.logo a{
  display: block;
}
.logo a img{
  width: 100%;
}
.logo svg{
  fill: black;
}
.regist_form{
  animation: form 3s;
}
@keyframes form{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#id, #pw1, #pw2{
  width: 100%;
}
.register input{
  margin: 7px 0;
  height: 35px;
  border-radius: 5em;
  padding-left: 10px;
  border: 0;
  opacity: 0.5;
}
/* .register input.regist{
  width: 50%;
  height: 45px;
  font-weight: bold;
  font-size: 20px;
  background-color: #313238;
  color: #fff;
} */
.find_code{
  width: 23%;
  text-align: left;
}
#sample6_address{
  width: 170px;
  float: left;
}
#sample6_detailAddress{
  width: 57%;
  float: right;
}
.extraAddr{
  display: none;
}
input.regist{
  width: 50%;
  border: 2px solid #313238;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  transform: translateX(50%);
  opacity: 1;
  cursor: pointer;
  margin: 15px auto;
}
.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
  display: block;

}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}
.button--facebook {
  background-color: #4b70ab;
  border: 1px solid #3b5988;
  margin-top: 15px;
}
.button--facebook .icon {
  border-right: 1px solid #3b5988;
}
.button--facebook .icon:after {
  border-right: 1px solid #6b8bbe;
}
.button--facebook:hover {
  background-color: #436499;
}
.button--googleplus {
  background-color: #DD4B39;
  border: 1px solid #c23321;
}
.button--googleplus .icon {
  border-right: 1px solid #c23321;
}
.button--googleplus .icon:after {
  border-right: 1px solid #e47365;
}
.button--googleplus:hover {
  background-color: #d73925;
}