@charset "utf-8";

@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MICEGothic Bold';
  font-size: 13px;
}
a{text-decoration: none; color: #222;}
li,ol{list-style: none;}

body{
  background-color: #fff;
}
#wrap{}
#header{
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
}
#footer{
  width: 100%;
  height: 150px;
  background-color: #313238;
  position: fixed;
  bottom: 0;
}
#register{
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.container{}
.row{}
.register{
  height: calc(100vh - 320px);
  width: 500px;
  max-width: 90%;
  padding: 20px;
  background: url(../img/login_bg.jpg) #fff;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5%;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.logo{
  margin: 20px auto;
  width: 50%;
}
.logo a{
  display: block;
}
.logo a img{
  width: 100%;
}
.logo svg{
  fill: black;
}
.regist_form{
  animation: form 3s;
}
@keyframes form{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#id, #pw1, #pw2{
  width: 100%;
}
.register input{
  margin: 7px 0;
  height: 35px;
  border-radius: 5em;
  padding-left: 10px;
  border: 0;
  opacity: 0.5;
}

.find_code{
  width: 23%;
  text-align: left;
}
#sample6_address{
  width: 170px;
  float: left;
}
#sample6_detailAddress{
  width: 57%;
  float: right;
}
.extraAddr{
  display: none;
}
input.regist{
  width: 50%;
  border: 2px solid #313238;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  transform: translateX(50%);
  opacity: 1;
  cursor: pointer;
  margin: 15px auto;
}
.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
  display: block;

}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}
.button--facebook {
  background-color: #4b70ab;
  border: 1px solid #3b5988;
  margin-top: 15px;
}
.button--facebook .icon {
  border-right: 1px solid #3b5988;
}
.button--facebook .icon:after {
  border-right: 1px solid #6b8bbe;
}
.button--facebook:hover {
  background-color: #436499;
}
.button--googleplus {
  background-color: #DD4B39;
  border: 1px solid #c23321;
}
.button--googleplus .icon {
  border-right: 1px solid #c23321;
}
.button--googleplus .icon:after {
  border-right: 1px solid #e47365;
}
.button--googleplus:hover {
  background-color: #d73925;
}

/* ------------------------------------ 헤더 수정 */
#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
  background-color: #fff;
  font-family: 'MICEGothic';
}

#header .header a img {
  fill: #000;
  filter: invert(100);
  background-color: #000;
}

.container2{
  width: 1500px;
  height: inherit;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 150px;
}

.header a {
  color: #000;
  text-decoration: none;
}

.logo_header {
  width: 35%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_header h1 {}

.logo_header h1 img {
  width: 80%;
}

.n {
  margin-top: -150px;
}

.sub_nav {
  height: 60px;
  width: 65%;
  float: right;
}

.sub_nav ul {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.sub_nav ul li {
  width: 20%;
  float: left;
}

.sub_nav ul li a {
  height: 60px;
  line-height: 60px;
  padding-right: 50px;
  display: block;
  text-align: center;
  font-size: 1.23em;
}

.sub_nav ul li a i {
  padding-right: 1em;
  color: #000;
  font-size: 1em;
}

.nav {
  width: 65%;
  float: right;
}

.nav>ul {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-left: 0rem;
}

.nav>ul>li {
  width: 25%;
  float: left;
}

.nav ul li a {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 1.3em;
  display: block;
  font-weight: bold;
  font-size: 1.6em;
}

.nav ul li ul.submenu {
  padding-left: 0rem;
  position: relative;
  z-index: 10;
  display: none;
}

.nav ul li ul.submenu li {}

.nav ul li ul.submenu li a {}

#navbg {
  width: 100%;
  height: 360px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 9;
  border-top: 1px solid #000;
  display: none;
}