@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 100;
}

#header.active {
  background-color: #fff;
  height: 150px;
}

#banner {
  width: 100%;

}

#contents {
  position: relative;
  height: 300vh;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.row {}

.header {
  background-color: transparent;
  width: 100%;
  height: 150px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

#header.active .header a {
  color: #000;
}

#header.active .header a img {
  fill: #000;
  filter: invert(100);
  background-color: #000;

}

.logo_header {
  width: 35%;
  height: 150px;
  padding-top: 28.5px;
  /* background-color: green; */
}

.logo_header h1 {}

.logo_header h1 img {
  width: 90%;
}

/* 네비 */
.n {
  margin-top: -150px;
}

.sub_nav {
  height: 60px;
  width: 65%;
  float: right;
  /* background-color: red; */
}

.sub_nav ul {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.sub_nav ul li {
  width: 20%;
  float: left;
}

.sub_nav ul li a {
  height: 60px;
  line-height: 60px;
  padding-right: 50px;
  display: block;
  text-align: center;
  font-size: 1em;
}

.sub_nav ul li a i {
  padding-right: 1em;
}

.nav {
  width: 65%;
  /* background-color: blue; */
  float: right;
}

.nav>ul {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav>ul>li {
  width: 25%;
  float: left;
}

.nav ul li a {
  height: 90px;
  line-height: 90px;
  /* padding-left: 30px; */
  text-align: center;
  font-size: 1.3em;
  display: block;
  font-weight: bold;
}

.nav ul li ul.submenu {
  z-index: 10;
}

.nav ul li ul.submenu li {}

.nav ul li ul.submenu li a {
  font-weight: normal;
}

#navbg {
  width: 100%;
  height: 360px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 9;
  /* border-bottom: 1px solid darkblue; */
  display: none;
}


.banner {
  background: url(../master_images/banner_bg.svg);
  height: 900px;
}